<div data-sticky-container>
  <div class="sticky" data-sticky data-sticky-on="small" data-options="marginTop:0;">
    <div class="menubar-container menubar-container-v3">

      <div class="menubar-grid grid-container grid-x grid-padding-x grid-padding-y">


        <div class="cell small-8 large-9 text-left">
          <a href="/" class="menubar-logo"><img src="/assets/img/logo-green.svg" alt="Generation Homes" class="header-logo" width="200" /></a>
        </div>

        <div class="cell small-2 text-right">
          <a class="menubar-phone-link" href="tel:1 (559) 323-9700">
            <span class="hide-for-small-only">559.323.9700</span>
            <img src="/assets/img/icons/phone--light.svg" alt="phone" class="show-for-small-only icon--phone" width="18" height="18" />
          </a>
        </div>

        <div class="cell small-2 large-1 text-right">
          <div class="title-bar align-right" data-hide-for="null">
            <button class="menu-icon" type="button" data-toggle="header-menu">Menu</button>
          </div>
        </div>


      </div>
    </div>
  </div>
</div>

<div class="header-menu header-menu-v3 off-canvas position-right" id="header-menu" data-off-canvas>
  <button class="close-button" aria-label="Close menu" type="button" data-close>
    <span aria-hidden="true">&times;</span>
  </button>

  <ul class="vertical menu header-menu-content">
    <li>
      <h3 class="h5"><a href="/services.html">Services</a></h3>
      <ul class="vertical menu">
        <li><a href="/services-remodel.html">Home Remodeling</a></li>
        <li><a href="/services-new-homes.html">New Home Construction</a></li>
        <li><a href="/services-commercial.html">Commercial Projects</a></li>
      </ul>
    </li>
    <li>
      <h3 class="h5"><a href="/reviews.html">Reviews</a></h3>
    </li>
    <li>
      <h3 class="h5"><a href="/contact.html">Contact Us</a></h3>
    </li>
  </ul>
  <div class="social">
    <a href="https://www.houzz.com/pro/generation-homes/generation-homes" target="_blank"><img width="32" height="32" src="/assets/img/affiliations/houzz.png" alt="houzz" /></a>
    <a href="http://www.facebook.com/pages/Generation-Homes/210356869008904" target="_blank"><img width="32" height="32" src="/assets/img/affiliations/fb.png" alt="facebook" /></a>
  </div>


</div>
