<div data-sticky-container>
  <div class="sticky" data-sticky data-sticky-on="small" data-options="marginTop:0;">
    <div class="menubar-container">

      <div class="menubar-grid grid-container grid-x grid-padding-x grid-padding-y">
        <div class="cell small-8">
          <a href="/" class="menubar-logo"><img src="/assets/img/logo-green.svg" alt="Generation Homes" class="header-logo" width="200" /></a>
        </div>
        <div class="cell small-4">
          <div class="title-bar align-right" data-hide-for="null">
            <button class="menu-icon" type="button" data-toggle="header-menu">Menu</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="header-menu off-canvas position-right" id="header-menu" data-off-canvas>
  <button class="close-button" aria-label="Close menu" type="button" data-close>
    <span aria-hidden="true">&times;</span>
  </button>

  <ul class="vertical menu header-menu-content">
    <li>
      <h3 class="h5"><a href="/services.html">Services</a></h3>
      <ul class="vertical menu">
        <li><a href="#">Item 1A</a></li>
        <li><a href="#">Item 1B</a></li>
        <li><a href="#">Item 1C</a></li>
        <li><a href="#">Item 1D</a></li>
        <li><a href="#">Item 1E</a></li>
      </ul>
    </li>
    <li>
      <h3 class="h5"><a href="#">Item 2</a></h3>
      <ul class="vertical menu">
        <li><a href="#">Item 2A</a></li>
        <li><a href="#">Item 2B</a></li>
      </ul>
    </li>
    <li>
      <h3 class="h5"><a href="#">Item 3</a></h3>
      <ul class="vertical menu">
        <li><a href="#">Item 3A</a></li>
        <li><a href="#">Item 3B</a></li>
      </ul>
    </li>
  </ul>
</div>
