
<div class="card gallery-trigger float-right gallery-trigger--right" type="button" data-toggle="baldwin" role="button">
  <img src="/assets/img/remodel/baldwin/cover.jpg" sizes="" alt="" class="" />
  <div class="card-section">
    <p>View our baldwin Remodel gallery <a href="#">here</a> &rsaquo;</p>
  </div>
</div>

<div class="gallery-wrap reveal"
  id="baldwin"
  aria-labelledby="baldwin_label"
  aria-modal="true"
  role="dialog"
  data-animation-in="slide-in-right"
  data-animation-out="fade-out"
  data-reveal>
  <button class="close-button" aria-label="Close Gallery" type="button" data-close><span aria-hidden="true">&times;</span></button>
  <h3 id="baldwin_label" class="gallery-label">baldwin Remodel Gallery</h3>

  <div class="image-gallery align-center">
    <img class="gallery-main-image" src="/assets/img/remodel/baldwin/NL5A8571.jpg" alt="">
    <br>
    <ul class="menu gallery-thumbs align-center">
      {{#each baldwin}}
      <li>
        <a class="gallery-thumb" data-image="/assets/img/remodel/baldwin/{{ this }}"><img src="/assets/img/remodel/baldwin/{{ this }}" alt=""></a>
      </li>
      {{/each}}
    </ul>
  </div>
</div>
