
<div class="card gallery-trigger float-right gallery-trigger--right" type="button" data-toggle="bezmalinovic" role="button">
  <img src="/assets/img/remodel/bezmalinovic/cover.jpg" sizes="" alt="" class="" />
  <div class="card-section">
    <p> <a href="#">Bezmalinovic Bath Remodel &rsaquo;</a> </p>
  </div>
</div>

<div class="gallery-wrap reveal"
  id="bezmalinovic"
  aria-labelledby="bezmalinovic_label"
  aria-modal="true"
  role="dialog"
  data-animation-in="slide-in-right"
  data-animation-out="fade-out"
  data-reveal>
  <button class="close-button" aria-label="Close Gallery" type="button" data-close><span aria-hidden="true">&times;</span></button>
  <h3 id="bezmalinovic_label" class="gallery-label">Bezmalinovic Remodel Gallery</h3>

  <div class="image-gallery align-center">
    <img class="gallery-main-image" src="/assets/img/remodel/bezmalinovic/NL5A9173.jpg" alt="">
    <br>
    <ul class="menu gallery-thumbs align-center">
      {{#each bezmalinovic}}
      <li>
        <a class="gallery-thumb" data-image="/assets/img/remodel/bezmalinovic/{{ this }}"><img src="/assets/img/remodel/bezmalinovic/{{ this }}" alt=""></a>
      </li>
      {{/each}}
    </ul>
  </div>
</div>
