@charset 'utf-8';

@import 'settings';
@import 'foundation';
@import 'motion-ui';
// custom font
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');

// Global styles
@include foundation-global-styles;
//@include foundation-forms;
@include foundation-typography;

// Grids (choose one)
@include foundation-xy-grid-classes;
// @include foundation-grid;
// @include foundation-flex-grid;

// Generic components
@include foundation-button;
// @include foundation-button-group;
@include foundation-close-button;
// @include foundation-label;
// @include foundation-progress-bar;
// @include foundation-slider;
// @include foundation-switch;
// @include foundation-table;

// Basic components
// @include foundation-badge;
@include foundation-breadcrumbs;
@include foundation-callout;
@include foundation-card;
@include foundation-dropdown;
// @include foundation-pagination;
@include foundation-tooltip;

// Containers
@include foundation-accordion;
@include foundation-media-object;
@include foundation-orbit;
// @include foundation-responsive-embed;
@include foundation-tabs;
@include foundation-thumbnail;

// Menu-based containers
@include foundation-menu;
@include foundation-menu-icon;
@include foundation-accordion-menu;
@include foundation-drilldown-menu;
@include foundation-dropdown-menu;

// Layout components
@include foundation-off-canvas;
@include foundation-reveal;
@include foundation-sticky;
@include foundation-title-bar;
@include foundation-top-bar;

// Helpers
@include foundation-float-classes;
@include foundation-flex-classes;
@include foundation-visibility-classes;
// @include foundation-prototype-classes;

// Motion UI
@include motion-ui-transitions;
@include motion-ui-animations;

// custom vars
$color-white-transparent: rgba(255,255,255,0.8);
$color-black-transparent: rgba(0,0,0,0.5);
$color-cream: #f4f1ea;
// light gream #fbfaf7
// header cream

$color-light-green: #96a580;

$color-dark-green: #63704f;

@import 'components/sticky-menu';
@import 'components/gallery';
@import 'components/hero';
@import 'components/site-footer';
@import 'components/filter-simple';


.text--light {
  color: $white;
}

.review-name {
  font-size: 1.5rem;
  font-weight: 500;
}
.review-date {
  font-weight: 500;
}

h1.display {
  font-family: 'Archivo Black', sans-serif;
  font-size: 2rem;
  //letter-spacing: .1rem;
  line-height: 1;
  text-transform: uppercase;
  @include breakpoint(medium up) {
    font-size: 3.5rem;
  }
}
