.image-gallery {
  background-color: $white;
  padding: 1.5rem;
  max-width: 1024px;
  margin: 0 auto;
}

.gallery-main-image {
  margin: 0 auto 20px auto;
  width: 100%;
  max-height: 70vh;
}

.gallery-thumbs {

  a {
    margin-left: 8px;
    margin-right: 8px;
    padding: 0 !important;

    img {
      @include thumbnail;
      width: 50px;
      height: 50px;
      border: none;
    }
  }
}

.gallery-trigger {
  cursor: pointer;
  box-shadow: 0 2px 2px -1px rgba(0,0,0,0.5);
  width: 50%;
  @include breakpoint(large) {
    width: 30%;
  }
  &--right {
    margin: 1rem 0 1rem 1rem;
    @include breakpoint(large) {
      margin: 1rem 0 1rem 2rem;
    }
  }
  &--left {
    margin: 1rem 1rem 1rem 0;
    @include breakpoint(large) {
      margin: 1rem 2rem 1rem 0;
    }
  }
}


