<footer class="site-footer">
  <div class="grid-x medium-up-3 grid-padding-x">
    <div class="cell">
      <h4 class="site-footer-name">How can we help?</h4>
      <p>
        As a leading general contractor in the Fresno, California area, we are always looking for ways to help when it comes to home repairs. We post photos from our current home remodel projects as well as helpful tips when it comes to DIY project and projects that, well... maybe you shouldn't do you yourself. We welcome feedback and questions, let us know how we can help.
      </p>
      <ul class="menu site-footer-menu-social simple">
        <li><a href="#"><i class="fa fa-youtube-square" aria-hidden="true"></i></a></li>
         <li><a href="#"><i class="fa fa-facebook-square" aria-hidden="true"></i></a></li>
         <li><a href="#"><i class="fa fa-twitter-square" aria-hidden="true"></i></a></li>
      </ul>
    </div>
    <div class="cell">
       <h4 class="site-footer-title">Contact Info</h4>
      <div class="site-footer-block">
        <i class="fa fa-map-marker" aria-hidden="true"></i>
        <p>550 W. Alluvial, Suite #107<br>Fresno, CA 93711</p>
      </div>
      <div class="site-footer-block">
        <i class="fa fa-phone" aria-hidden="true"></i>
        <p><a class="footer-link" href="tel:1 (559) 323-9700">1 (559) 323-9700</a></p>
      </div>
      <div class="site-footer-block">
        <i class="fa fa-envelope-o" aria-hidden="true"></i>
        <p><a class="footer-link" href="mailto:info@generation-homes.com">info@generation-homes.com</a></p>
      </div>
    </div>
    <div class="cell">
      <h4 class="site-footer-title">Affiliations</h4>
      <div class="grid-x medium-up-3 grid-padding-x grid-padding-y">
        <div class="cell">
          <img src="https://placehold.it/75" alt="" />
        </div>
        <div class="cell">
          <img src="https://placehold.it/75" alt="" />
        </div>
        <div class="cell">
          <img src="https://placehold.it/75" alt="" />
        </div>
        <div class="cell">
          <img src="https://placehold.it/75" alt="" />
        </div>
        <div class="cell">
          <img src="https://placehold.it/75" alt="" />
        </div>
        <div class="cell">
          <img src="https://placehold.it/75" alt="" />
        </div>
      </div>
    </div>
  </div>
  <div class="site-footer-bottom">
    <div class="grid-x medium-up-2 grid-padding-x">
      <div class="cell medium-up-2">
        <p>&copy; 2021 All rights reserved</p>
      </div>
      <div class="cell">
        <ul class="menu site-footer-bottom-links">
          <li><a href="/">Home</a></li>
          <li><a href="/services.html">Services</a></li>
          <li><a href="#">Services</a></li>
          <li><a href="#">Works</a></li>
          <li><a href="#">News</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
