<footer class="site-footer">
  <div class="grid-container">
    <div class="grid-x grid-padding-x">

      <div class="cell medium-12 large-6">
        <h4 class="site-footer-name">Life changes...<br />Good values shouldn't</h4>
        <p class="site-footer-hello">
          If you’re seeking home remodeling, painting, a new custom home, or commercial property improvements demanding expert construction solutions, Generation Homes & Commercial can meet your every need.
        </p>
      </div>
      <div class="cell medium-6 large-3">
        <h4 class="site-footer-title">Connect With Us</h4>
        <p>550 W. Alluvial, Suite #107<br>Fresno, CA 93711</p>
        <p><a class="footer-link" href="tel:1 (559) 323-9700">1 (559) 323-9700</a></p>
        <p><a class="footer-link" href="mailto:info@generation-homes.com">info@generation-homes.com</a></p>
        <p>
          Lic. #871183<br />
        </p>
      </div>
      <div class="cell medium-6 large-3">

        <h4 class="site-footer-title">Affiliations</h4>
        <div class="grid-x grid-padding-x">
          <div class="cell bbb">
            <a href="https://www.bbb.org/us/ca/fresno/profile/general-contractor/generation-commercial-inc-1066-15003051">
            <img src="/assets/img/affiliations/AB-seal-horz.svg" alt="" />
            <span class="rating">A+</span>
            </a>
          </div>
          <div class="cell">
https://www.biafm.org/

          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="site-footer-bottom">
    <div class="grid-x medium-up-2 grid-padding-x">
      <div class="cell copyright">
        <p>&copy; Generation Homes & Commercial 2021 All rights reserved</p>
      </div>
      <div class="cell links">
        <ul class="menu site-footer-bottom-links">
          <li><a href="/">Home</a></li>
          <li><a href="/services.html">Services</a></li>
          <li><a href="/the-phoenix-project.html">The Phoenix Project</a></li>
          <li><a href="/reviews.html">Reviews</a></li>
          <li><a href="/contact.html">Contact</a></li>
          <li><a class="social" href="https://www.houzz.com/pro/generation-homes/generation-homes" target="_blank"><img width="24" height="24" src="/assets/img/affiliations/houzz.png" alt="houzz" /></a></li>
          <li><a class="social" href="http://www.facebook.com/pages/Generation-Homes/210356869008904" target="_blank"><img width="24" height="24" src="/assets/img/affiliations/fb.png" alt="facebook" /></a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
